.movie-grid-title{
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    z-index: 15;
}
.movie-grid-title:hover{
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
}
.top-movies-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
     column-gap: 15px;
    row-gap: 47px;
    grid-template-columns: 190px 190px 190px 190px 190px 190px 190px 190px 190px; 
    background-color: rgba(1, 10, 10, 0.603);
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.9);
    color:whitesmoke;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 140px;
    padding-top:40px;
    padding-bottom:40px;

}
.movie{
    position: relative;
    transition: 0.15s;
    border:1px solid white;
    border-radius: 3px;
}
.movie:hover{
    box-shadow: 0 0 7px 4px  #00e054;
    border-radius: 5px;
    
}
.movie-pic{
position: relative;
display: inline-block;
z-index: 1;
box-shadow: 10px 10px 10px 6px 10px rgba(0, 0, 0, 0.5);
}
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:rgba(0, 0, 0, 0.8);
overflow: hidden;
width: 100%;
height: 0;
transition: .15s ;
z-index: 15;
}
.movie:hover .overlay {
height: 20%;
width: 100%;
}
.movie-name{
text-align: center;
white-space:nowrap;
color:white;
position: absolute;
z-index: 11;
font-weight: 600;
font-size: 100%;
overflow: hidden;
top: 70%;
left: 50%;
transform: translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
padding: 10px;
height: 100px;
text-shadow: 2px 2px 8px white;

}
.movie-rate{
position: absolute;
bottom:5%;
left:50%;
font-size: 20px;
z-index: 5;
color:rgba(255, 255, 0, 0.76);
text-shadow: 0px 0px 12px white;
transform: translate(-50%,-10%);
-ms-transform:translate(-50%,-10%);
}