.movie-grid-title{
    color:white;
    display: flex;
    text-align: center;
    font-weight: bolder;
    font-size:1.8em;
    z-index: 0;
}
.movie-grid-title:hover{
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
}
.top-movies-grid{
    display: grid;
    align-items: center;
    z-index: 10;
     column-gap: 1.5em;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    background-color: rgba(1, 10, 10, 0.603);
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.9);
    color:whitesmoke;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 80px;
    padding-top:40px;
    padding-bottom:40px;
    width: 100%;
}
.movie{
    position: relative;
    transition: 0.15s;
    width: 100%;
    min-width: 120px;
/* margin-left: 15%; */      
   

}
.movie:hover{
box-shadow: 0 0 0px 4px  #00e054;
border-radius: 3px;

}
.movie-pic-row{
/* display:inline-block; */
display: flex;
width: 100%;



}
.movie-pic{
position: relative;
border:1px solid white;
width:auto;
width: 100%;
object-position: center;
z-index: 1;
box-shadow: 0 0  10px 61px 10px rgba(0, 0, 0, 0.9);
}
.overlay {
position: absolute;
object-fit:contain;
bottom: 0;
left: 0;
right: 0;
background-color:rgba(0, 0, 0, 0.8);
overflow: hidden;
width: 100%;
transition: 0.25s;

transition: .15s ;
z-index: 15;
}
.movie:hover .overlay {
height: 23%;
width: 100%;
}
/* .movie-name{
text-align: center;
white-space:nowrap;
color:white;
position: absolute;
z-index: 11;
font-weight: 600;
font-size: 1rem;
overflow: hidden;
top: 70%;
left: 50%;
transform: translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
padding: 10px;
height: 100px;
text-shadow: 2px 2px 8px white;

}
.movie-rate{
position: absolute;
font-weight: 700;
bottom:10%;
left:50%;
font-size:1.1em;
z-index: 5;
color:rgba(255, 255, 0, 0.925);
text-shadow: 0px 0px 12px white;
transform: translate(-50%,-10%);
-ms-transform:translate(-50%,-10%);
}
.movie-rate span{
color:white;
font-size: 0.8em;
} */
.movie-name{
    text-align: center;
    white-space:nowrap;
    color:white;
    position: absolute;
    z-index: 11;
    font-weight: 600;
    font-size: .8vw;
    overflow: hidden;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-30%);
    -ms-transform:translate(-50%,10%);
    padding: 10px;
    height: 100px;
    text-shadow: 2px 2px 8px white;
    
    }
    
    .movie-rate{
    position: absolute;
    font-weight: 700;
    bottom:5%;
    left:50%;
    font-size:.7vw;
    z-index: 5;
    color:rgba(255, 255, 0, 0.925);
    text-shadow: 0px 0px 12px white;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    }
    .movie-rate span{
        color:white;
        font-size: 0.8em;
    }
    @media screen and (max-width:1350px) {
        .movie-name{
            font-size: 1.2vw;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-30%);
            -ms-transform:translate(-50%,10%);
        }
        .movie-rate{
            font-size: 1.3vw;
            bottom: 1%;
        }
        .movie{
            width: 40%;
        }
    }